.property-page {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.property-title {
  font-size: 32px;
  font-weight: bold;
}

.property-location {
  color: gray;
  margin-bottom: 20px;
}

/* Gallery */
.gallery {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.big-img {
  width: 65%;
  height: 420px;
  border-radius: 12px;
  object-fit: cover;
}

.small-imgs {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-imgs img {
  width: 100%;
  height: 205px;
  object-fit: cover;
  border-radius: 12px;
}

/* Grid */
.main-grid {
  display: flex;
  gap: 30px;
}

/* Left */
.left {
  flex: 2;
}

.details-box,
.amenities-box,
.nearby-box,
.reviews-box,
.map-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.amenities-list li {
  margin-bottom: 8px;
}

/* Reviews */
.review {
  background: #f7f7f7;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.map-frame {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 12px;
}

/* Right (Booking Box) */
.right {
  flex: 1;
}

.price-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 20px;
}

.book-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
}

.book-btn:hover {
  background: #333;
}
.desc-text {
  font-size: 15px;
  line-height: 1.7;
  color: #444;
  margin-top: 10px;
}

.highlights {
  background: #fafafa;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.highlights h3 {
  margin-bottom: 10px;
  font-size: 17px;
  color: #222;
}

.highlights ul {
  padding-left: 18px;
}

.highlights li {
  margin-bottom: 6px;
  color: #555;
}


/* Highlights */
.desc-text {
  font-size: 15px;
  line-height: 1.7;
  color: #444;
  margin-top: 10px;
}

.highlights {
  background: #fafafa;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.highlights h3 {
  margin-bottom: 10px;
  font-size: 17px;
  color: #222;
}

.highlights ul {
  padding-left: 18px;
}

.highlights li {
  margin-bottom: 6px;
  color: #555;
}

/* Host Info */
.host-box {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.host-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.host-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* Rules */
.rules-box {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.rules-box ul {
  padding-left: 18px;
}

.rules-box li {
  margin-bottom: 6px;
  color: #555;
}

